*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 600px;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    margin: 30px auto;
    padding: 15px;
}
.app{
    margin-top: 20px;
}

.app h2{
    text-align: center;
     font-size: 36px;
}
.container {
    position: relative;
    min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
  }
  
  .moveto-bottom {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Adjust the width as needed */
  }
  
  /* Style the inputs and button */
  .moveto-bottom input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .moveto-bottom button.creat-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Green background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .container-wrapper{
    display: flex;
  }
  
  .inputvalue-wrapper {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 15px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 240px;
  }
  
  .title-value {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .nameinput-valu {
    font-size: 1rem;
    color: #555;
    margin-bottom: 12px;
  }
  
  .inputvalue-wrapper button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputvalue-wrapper button:hover {
    background-color: #45a049;
  }

  .edit-title {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .edit-title label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  .edit-title input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .edit-title button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-title button:hover {
    background-color: #45a049;
  }
  
  